<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Feit &amp; Fixie, of Feit en Fictie, of iets anders</title>

    <!-- API endpoints -->
    <meta name="VIDEO_BASE_URL" content="{{VIDEO_BASE_URL}}" />
    <meta name="AUDIO_BASE_URL" content="{{AUDIO_BASE_URL}}" />
    <meta name="PROXY_BASE_URL" content="{{PROXY_BASE_URL}}" />

    <link rel="stylesheet" href="static/css/style.css" />
</head>
<body>
    <main v-cloak>
        <header class="header">
            <h1 class="header__title">
                <a href="#">Feit en Fictie</a>
            </h1>

            <p class="header__lead" v-show="!loading && !results && !error">
                Vul een URL naar een nieuwsbron in en zie materiaal uit het
                archief van <a href="https://www.beeldengeluid.nl/">Beeld&nbsp;en&nbsp;Geluid</a>
                wat er aan gerelateerd is.
            </p>
        </header>

        <form
            v-show="!loading && !error"
            class="search"
            v-on:submit.prevent="noop"
        >
            <div class="search__input">
                <input
                    class="search__query"
                    v-model="query"
                    placeholder="Plak hier de link naar je nieuwsartikel"
                />

                <button
                    v-on:click="setQuery"
                    class="search__button"
                >Zoek</button>
            </div>

            <div
                v-show="!results"
                class="search__examples"
            >
                <h2 class="search__examples-title">Voorbeelden</h2>

                <ul>
                    <li>
                        <a v-on:click="setQuery('https://www.nu.nl/wielrennen/5269019/leider-yates-wint-elfde-etappe-giro-ditalia-dumoulin.html')">
                            Leider Yates wint elfde etappe Giro d'Italia voor Dumoulin (nu.nl)
                        </a>
                    </li>
                    <li>
                        <a v-on:click="setQuery('https://www.volkskrant.nl/nieuws-achtergrond/glunderende-minister-van-financien-op-verantwoordingsdag-begrotingsoverschot-naar-1-1-procent~b8664dad/')">
                            Glunderende minister van Financiën op Verantwoordingsdag: begrotingsoverschot naar 1,1 procent
                        </a>
                    </li>
                    <li>
                        <a v-on:click="setQuery('https://www.telegraaf.nl/nieuws/2045441/britse-media-vol-lof-over-outfit-modekoningin-maxima')">
                            Britse media vol lof over outfit modekoningin Màxima
                        </a>
                    </li>
                </ul>
            </div>
        </form>

        <div class="loading"
             v-show="loading">
            <img src="static/img/loading.gif" alt="Laden..." />
            <h2 class="loading__title">Laden...</h2>
        </div>

        <div class="error"
             v-show="error">
            <p v-html="error"></p>
            <a href="#" class="error__button">Probeer nogmaals</a>
        </div>

        <div
            class="results"
            v-if="results"
        >
            <ul>
                <li
                    v-for="(item, index) in results"
                    v-bind:key="index"
                >
                    {# FIXME: this shouldn't be like this, use .vue components instead #}

                    {% raw %}
                        <h3 v-if="item.maintitles">{{item.maintitles}}</h3>
                        <h3 v-else>Geen titel</h3>
                        <p>{{item.summary}}</p>
                    {% endraw %}
                </li>
            </ul>
        </div>

        <footer class="footer">
            <a
                v-show="results"
                href="#"
                class="footer__again">
                Nogmaals?
            </a>
        </footer>
    </main>
    <script src="static/bundle.js"></script>
</body>
</html>