<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Feit &amp; Fixie, of Feit en Fictie, of iets anders</title>

    <!-- API endpoints -->
    <meta name="VIDEO_BASE_URL" content="{{VIDEO_BASE_URL}}" />
    <meta name="AUDIO_BASE_URL" content="{{AUDIO_BASE_URL}}" />
    <meta name="PROXY_BASE_URL" content="{{PROXY_BASE_URL}}" />

    <link rel="stylesheet" href="static/css/style.css" />
</head>
<body>
    <h1>hoi</h1>
    <main>
        <test></test>
    </main>
    <script src="static/bundle.js"></script>
</body>
</html>