.player {
	padding: 5rem;
	@include flex-center;
	background: black;
	@include wh(100vw, 100vh);

	&__close {
		@include button;
		position: fixed;
		top: 0;
		right: 0;
		@include wh(5rem);
		font-size: 5rem;;
		line-height: 3rem;
	}
}