.results-header {
    background: $c-1;
    color: white;
    padding: 1rem;
    @include child-margins(1rem);

    &__masthead {
        display: flex;
    }

    &__logo {
        font-size: 3rem;
        margin-right: 3rem;
        flex-shrink: 0;
    }

    &__logo a {
        color: white;
    }

    &__search {
        width: 100%;
        max-width: 80rem;
    }

    &__settingsbtn {
        margin-left: auto;
    }

    &__settingsbtn .fa-icon path {
        fill: white;
    }

    &__settings {
        display: flex;
    }

    &__settings > * {
        margin-right: 2rem;
    }

    &__metadata {
        @include child-margins(1rem);
    }

    @include respond-until($screen-sm) {
        @include flex-center;
        @include child-margins(1rem);
    }
}