.results-list {
    max-width: 100rem;

    ul {
        @include child-margins(6rem);
    }

    li {
        list-style: none;
    }

    &__item {
        text-align: left;
        @include child-margins(1rem);
    }

    &__hint {
        color: $c-3;
    }

    &__inset {
        margin-left: 1rem;
        padding: 1rem;
        background: $c-4;
    }
}