.results-list {
    max-width: 100rem;

    ul {
        @include child-margins(6rem);
    }

    li {
        list-style: none;
    }

    &__button {
        @include button;
        margin-top: 1rem;
    }

    &__item {
        text-align: left;
        @include child-margins(1rem);
    }

    &__hint {
        color: $c-3;
    }

    &__description {
        margin-top: .5rem;
    }

    &__inset {
        margin-left: 1rem;
        padding: 1rem;
        background: $c-4;
    }

    &__meta {
        font-size: 1.8rem;
    }

    &__meta dt {
        margin-top: 1rem;
        color: $c-3;
    }

    &__meta dd {
        padding-left: 1rem;
    }
}