.search {
    @include margin-center;
    max-width: 100rem;
    margin-top: 3rem;

    &__input {
        width: 100%;
        display: flex;
    }

    &__query,
    &__button {
        padding: 1rem;
    }

    &__query {
        width: 100%;
        font-family: $font-monospace;
        font-size: 2rem;
        border: 1px solid #999;
    }

    &__button {
        @include button;
    }

    &__examples {
        max-width: 80rem;
        @include margin-center;
        margin-top: 3rem;
    }

    &__examples-title {
        font-size: 2.6rem;
        text-align: center;
    }

    &__examples ul {
        margin-top: 1rem;
        text-align: center;
        @include child-margins(1rem);
    }

    &__examples li {
        list-style: none;
    }

    &__examples a {
        color: blue;
        cursor: pointer;
    }
}
