.site-card {
    border: 1px solid white;
    background: white;
    color: black;
    overflow: hidden;
    display: flex;
    max-height: 30rem;

    &--small {
        max-width: 40vw;
        font-size: 15px;
        max-height: 20rem;
    }

    &--small &__title {
        font-size: 1.6rem;
    }

    &--small &__image {
        max-width: 20rem;
    }

    &__image {
        width: 25vw;
        max-width: 30rem;
        object-fit: cover;
        display: block;
        border: 1rem solid white;
    }

    &__title {
        font-size: 2.4rem;
    }

    &__caption {
        @include child-margins(1rem);
        padding: 1rem;
    }

    &__description {
        @include child-margins(1rem);
    }

    &__domain > * {
        color: $c-3;
    }
}