body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 2rem;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    color: #c0c0c0;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.8;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 1rem;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3rem;
    text-align: center;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: contain;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 10px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

/* testing resizible searchbox*/
input[type=text] {
    /*width: 60%;*/
    /*-webkit-transition: width 0.4s ease-in-out;*/
    /*transition: width 0.4s ease-in-out;*/
}
.input-group-btn {
    /*width: 60%;*/
}
/*!* When the input field gets focus, change its width to 100% *!*/
/*input[type=text]:focus {*/
/*width: 80%;*/
/*}*/

.input-group {
    max-width: 70%;
    margin: 0 auto;
}

p.siteNameDesc {
    position: relative;
    bottom: -30px;
    font-size: 0.7rem;
}
.sitelogo {
    position: relative;
    width: 40rem;
    height: 11rem;
}

a.navbar-brand.topnav {
    position: absolute;
    width: 20rem;
    top: -4px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 1rem;
}
.list-inline>li > a{
    font-size: 1rem;
}

.copyright.text-muted {
    font-size: 0.7rem;
}
.searchTerm {
    padding-left: 1rem;
}

th {
    text-align: center;
}

.table-hover>tbody>tr:hover {
    background-color: #c9c9c9;
    color: #000;
}
.table-responsive {
    background: rgba(81,77,76, 0.2);
    color: #fff;
}

td {
    color: fff;
}