* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 10px; }
  @media (max-width: 767px) {
    html {
      font-size: 8px; } }
  @media (max-height: 650px) {
    html {
      font-size: 8px; } }

body {
  background-color: white;
  color: black;
  overflow-x: hidden; }

img {
  border: 0; }

button {
  outline: none;
  cursor: pointer;
  background: none;
  border: 0; }

input, select, textarea, button {
  font: inherit; }

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff"); }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  font-size: 2rem; }

a {
  text-decoration: none; }

main {
  padding: 3rem 1rem; }

main[v-cloak]:before {
  font-family: sans-serif;
  content: 'Een momentje...';
  color: black;
  font-size: 5rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1rem; }

main[v-cloak] > * {
  display: none; }

.header {
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  text-align: center; }
  .header__title {
    font-size: 6rem;
    color: #498ec9; }
  .header__lead {
    font-size: 2.4rem;
    margin-top: 1rem; }

.results {
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  margin-top: 3rem; }
  .results ul > * + * {
    margin-top: 2rem; }
  .results li {
    list-style: none; }

.search {
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  margin-top: 3rem; }
  .search__input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .search__query, .search__button {
    padding: 1rem; }
  .search__query {
    width: 100%;
    font-family: "Menlo", "Courier New", courier, monospace;
    font-size: 2rem;
    border: 1px solid #999; }
  .search__button {
    background: #498ec9;
    color: white;
    padding: 1rem; }
  .search__examples {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem; }
  .search__examples-title {
    font-size: 2.6rem;
    text-align: center; }
  .search__examples ul {
    margin-top: 1rem;
    text-align: center; }
  .search__examples li {
    list-style: none; }
  .search__examples a {
    color: blue;
    cursor: pointer; }

.loading {
  margin: 3rem auto;
  text-align: center; }
  .loading__title {
    font-size: 3rem;
    color: #498ec9; }

.footer {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .footer__again {
    background: #498ec9;
    color: white;
    padding: 1rem; }
